<connectionStrings>
	<add name="ORMSampleConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ORMExample;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>